:root {
  /* Colores principales */
  --principal: #960018;
  --verde-agua: #00664E;
  --azul: #004766;
  --blanco: #FFF;
  --negro: #000;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  background-color: var(--blanco);
  color: var(--negro);
}

h1.nav__logo {
  text-align: center;
  font-size: 2rem;
  color: var(--blanco);
}

h1.hero__title {
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-weight: 400;
  max-width: 30ch;
}

.no-scroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

.header {
  background-color: var(--principal);
  height: 4rem;
  padding: 0 1rem;
}

.nav {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav__logo {
  display: flex;
  align-items: center;
  color: var(--Texto-en-Blanco);
  padding: 0 1rem;
  height: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.nav__logo:first-of-type {
  margin-right: auto;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: var(--blanco);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.nav__menu {
  display: none;
}

.texto-planes {
  font-size: 1.3rem;
}

.contenedor {
  width: 900px;
  height: 100%;
  max-width: 1200px;
  gap: 1rem;
  display: flex;
  justify-content: center;
  /* box-shadow: 0 0 12px #2d0231b2, 0 0 10px var(--blanco);
  background-color: var(--blanco); */
  border-radius: 1rem;
  padding: 1.2rem 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem auto;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
  gap: 2rem;
  height: 610px;
  width: 400px;
}

.hero__title {
  text-transform: capitalize;
}

.hero__img {
  width: 300px;
  height: 300px;
}

.plan-card {
  display: none;
}

/* .hero-personalizado {
  flex-basis: 100%;
} */

.plan-personalizado--text {
  max-width: 70ch;
}

.btn-plan {
  cursor: pointer;
  margin-bottom: 1rem;
  text-transform: uppercase;
  border: none;
  font-weight: 800;
  font-size: 1rem;
  padding: .8rem;
  margin-top: -1rem;
  border-radius: 1rem;
  background-color: var(--azul);
  color: var(--blanco);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.btn-plan:hover {
  transform: scale(1);
  box-shadow: 0 0 12px #2d0231, 0 0 10px var(--blanco);
  background-color: var(--verde-agua);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
  padding: 2rem;
  background-color: var(--principal);
  overflow: hidden;
}

.footer__drechos-autor,
.footer__telefono {
  color: var(--blanco);
}

/* Estilos para las cards */

/* Estilos para plan estandard */
/* Estilos para el botón de cierre */
#estandard-card .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: var(--blanco);
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el overlay */
#estandard-basico {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
/* Estilos para card estandard */

/* Estilos para el card del Plan Intermedio */
#estandard-card {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blanco);
  width: 350px;
  padding: 20px;
  text-align: start;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* Asegura que la tarjeta esté por encima de otros elementos */
  z-index: 1000;
  height: 80vh;
  overflow-y: auto;
}

/* Estilos para el título del Plan Intermedio */
#estandard-card h2 {
  font-size: 24px;
  color: #333;
}

/* Estilos para los puntos de características */
#estandard-card ul.plan-features {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;
}

/* Estilos para los puntos de características */
#estandard-card ul.plan-features li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

/* Estilos para el botón de cierre */
#estandard-card .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: var(--blanco);
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el overlay */
#overlay-estandard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
/* Estilos para plan estandard */

/* Estilos para la tarjeta de plan */
.plan-card {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blanco);
  width: 350px;
  padding: 20px;
  text-align: start;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* Asegura que la tarjeta esté por encima de otros elementos */
  z-index: 1000;
}

/* Estilos para el card del Plan Intermedio */
#basico-card {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blanco);
  width: 350px;
  padding: 20px;
  text-align: start;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* Asegura que la tarjeta esté por encima de otros elementos */
  z-index: 1000;
  height: 80vh;
  overflow-y: auto;
}

/* Estilos para el título del Plan Intermedio */
#basico-card h2 {
  font-size: 24px;
  color: #333;
}

/* Estilos para los puntos de características */
#basico-card ul.plan-features {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;
}

/* Estilos para los puntos de características */
#basico-card ul.plan-features li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

/* Estilos para el botón de cierre */
#basico-card .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: var(--blanco);
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el overlay */
#overlay-basico {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}


/* Estilos para el card del Plan Intermedio */
#intermedio-card {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blanco);
  width: 350px;
  padding: 20px;
  text-align: start;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* Asegura que la tarjeta esté por encima de otros elementos */
  z-index: 1000;
  height: 80vh;
  overflow-y: auto;
}

/* Estilos para el título del Plan Intermedio */
#intermedio-card h2 {
  font-size: 24px;
  color: #333;
}

/* Estilos para los puntos de características */
#intermedio-card ul.plan-features {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;
}

/* Estilos para los puntos de características */
#intermedio-card ul.plan-features li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

/* Estilos para el botón de cierre */
#intermedio-card .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: var(--blanco);
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el overlay */
#overlay-intermedio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* card plan avanzado */
/* Estilos para el card del Plan Intermedio */
#avanzado-card {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blanco);
  width: 350px;
  padding: 20px;
  text-align: start;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* Asegura que la tarjeta esté por encima de otros elementos */
  z-index: 1000;
  height: 80vh;
  overflow-y: auto;
}

/* Estilos para el título del Plan Intermedio */
#avanzado-card h2 {
  font-size: 24px;
  color: #333;
}

/* Estilos para los puntos de características */
#avanzado-card ul.plan-features {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;
}

/* Estilos para los puntos de características */
#avanzado-card ul.plan-features li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

/* Estilos para el botón de cierre */
#avanzado-card .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: var(--blanco);
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el overlay */
#overlay-avanzado {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
/* card plan avanzado */

/* Estilos para acercade */
.main-acercade {
  display: grid;
  place-content: center;
  margin: 0 auto;
  height: 100vh;
  width: 90ch;
  padding: 2rem;
}

.main-acercade h1 {
  margin-bottom: 1rem;
}
/* Estilos para acercade */

/* Estilo para dispositivos moviles (a partir de 768px) */
@media (max-width: 768px) {

  body {
    width: 100%;
    min-width: 100vw;
    margin: 0;
    background-color: var(--blanco);
    color: var(--negro);
  }

  h3 {
    font-weight: 400;
  }

  .no-scroll {
    overflow: hidden;
  }

  .hidden {
    display: none;
  }

  .header {
    background-color: var(--principal);
    height: 100%;
    padding: 0 1rem;
  }

  .contenedor {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    gap: 1.2rem;
  }

  .nav__logo {
    color: var(--blanco);
    padding: 0 1rem;
    height: 3rem;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .nav__list {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    list-style: none;
    background-color: var(--principal);
    padding: 8rem 0;

    display: grid;
    place-content: center;
    gap: 2.5rem;

    transform: translate(-100%);
    transition: transform .3s;
    z-index: 1;
  }

  .nav__list--show {
    position: fixed;
    transform: translate(0);
  }

  .nav__item {
    padding: .7rem 0;
  }

  .nav__link {
    color: var(--blanco);
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 500;
  }

  .nav__menu {
    display: block;
    width: 1.7rem;
    background-color: var(--blanco);
    border-radius: .3rem;
    cursor: pointer;
    z-index: 100;
  }

  /* Estilos para la tarjeta de plan */
  .plan-card {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 350px;
    padding: 20px;
    text-align: start;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Asegura que la tarjeta esté por encima de otros elementos */
    z-index: 1000;
  }

  /* Estilos para plan estandard */
/* Estilos para el botón de cierre */
#estandard-card .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: var(--blanco);
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el overlay */
#estandard-basico {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
/* Estilos para card estandard */

/* Estilos para el card del Plan Intermedio */
#estandard-card {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--blanco);
  width: 350px;
  padding: 20px;
  text-align: start;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* Asegura que la tarjeta esté por encima de otros elementos */
  z-index: 1000;
  height: 80vh;
  overflow-y: auto;
}

/* Estilos para el título del Plan Intermedio */
#estandard-card h2 {
  font-size: 24px;
  color: #333;
}

/* Estilos para los puntos de características */
#estandard-card ul.plan-features {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;
}

/* Estilos para los puntos de características */
#estandard-card ul.plan-features li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #555;
}

/* Estilos para el botón de cierre */
#estandard-card .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: var(--blanco);
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el overlay */
#overlay-estandard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
/* Estilos para plan estandard */

  /* Estilos para el card del Plan Intermedio */
  #basico-card {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 350px;
    padding: 20px;
    text-align: start;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Asegura que la tarjeta esté por encima de otros elementos */
    z-index: 1000;
    height: 80vh;
    overflow-y: auto;
  }

  /* Estilos para el título del Plan Intermedio */
  #basico-card h2 {
    font-size: 24px;
    color: #333;
  }

  /* Estilos para los puntos de características */
  #basico-card ul.plan-features {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
  }

  /* Estilos para los puntos de características */
  #basico-card ul.plan-features li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
  }

  /* Estilos para el botón de cierre */
  #basico-card .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: var(--blanco);
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Estilos para el overlay */
  #overlay-basico {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }


  /* Estilos para el card del Plan Intermedio */
  #intermedio-card {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 350px;
    padding: 20px;
    text-align: start;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Asegura que la tarjeta esté por encima de otros elementos */
    z-index: 1000;
    height: 80vh;
    overflow-y: auto;
  }

  /* Estilos para el título del Plan Intermedio */
  #intermedio-card h2 {
    font-size: 24px;
    color: #333;
  }

  /* Estilos para los puntos de características */
  #intermedio-card ul.plan-features {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
  }

  /* Estilos para los puntos de características */
  #intermedio-card ul.plan-features li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
  }

  /* Estilos para el botón de cierre */
  #intermedio-card .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: var(--blanco);
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Estilos para el overlay */
  #overlay-intermedio {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  /* card plan avanzado */
  /* Estilos para el card del Plan Intermedio */
  #avanzado-card {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--blanco);
    width: 350px;
    padding: 20px;
    text-align: start;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    /* Asegura que la tarjeta esté por encima de otros elementos */
    z-index: 1000;
    height: 80vh;
    overflow-y: auto;
  }

  /* Estilos para el título del Plan Intermedio */
  #avanzado-card h2 {
    font-size: 24px;
    color: #333;
  }

  /* Estilos para los puntos de características */
  #avanzado-card ul.plan-features {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
  }

  /* Estilos para los puntos de características */
  #avanzado-card ul.plan-features li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
  }

  /* Estilos para el botón de cierre */
  #avanzado-card .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: red;
    color: var(--blanco);
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Estilos para el overlay */
  #overlay-avanzado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  /* card plan avanzado */

  .hero {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;
    text-align: center;
    gap: 2rem;
  }

  .hero-personalizado {
    gap: 1rem;
  }

  .hero__title {
    margin: 1rem 0;
    text-transform: capitalize;
  }

  .hero__figure {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero__img {
    width: 300px;
    height: 300px;
  }

  .hero--reverse {
    flex-direction: column;
  }

  .btn-plan {
    cursor: pointer;
    margin-bottom: 1rem;
    text-transform: uppercase;
    border: none;
    font-weight: 800;
    font-size: 1rem;
    padding: .8rem;
    margin-top: -1rem;
    border-radius: 1rem;
    background-color: var(--azul);
    color: var(--blanco);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  .btn-plan:hover {
    transform: scale(1);
    box-shadow: 0 0 12px #2d0231, 0 0 10px var(--blanco);
    background-color: #778899;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;
    padding: 2rem;
    background-color: var(--principal);
    overflow: hidden;
    padding: 0 1.5rem;
  }

  .footer__drechos-autor,
  .footer__telefono {
    color: var(--blanco);
    text-align: center;
  }

}

/* Estilos para seccino de contacto */
section.mapa {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
section p {
  margin-bottom: 1rem;
  padding: 1rem;
}

main.contenedor-contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "card mapa"
    "formulario formulario";
  row-gap: 1rem;
  margin-top: 4rem;
}

main.contacto {
  min-height: 100vh;
}

/* Estilos para la card */
.contenedor-card {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: card;
  height: 450px;
}

.card-contacto {
  position: relative;
  width: 350px;
  height: 190px;
  background-color: var(--azul);
  border-radius: 1rem;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: .5s;
}

.card-contacto:hover {
  height: 450px;
}

.card__imgBx {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  height: 150px;
  width: 150px;
  background: var(--azul);
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: .3s;
}

.card-contacto:hover .card__imgBx {
  height: 250px;
  width: 250px;
}

.card__imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-contacto .contenido {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.card-contacto .contenido .detalles {
  padding: 40px;
  text-align: center;
  width: 100%;
  transition: .5s;
  transform: translateY(145px);
  color: var(--blanco);
}

.card-contacto:hover .contenido .detalles {
  transform: translateY(0);
}

.card-contacto .contenido .detalles h2 {
  font-size: 1.2rem;
  font-weight: 600;
  /* color: #3a3939; */
  color: var(--blanco);
  line-height: 1.2em;
  text-shadow: 0 2px 3px rgb(0, 0, 0);
}

.card-contacto .contenido .detalles h2 span {
  font-size: .75em;
  font-weight: 500;
  opacity: .6;
}

.card-contacto .contenido .datos {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

.card-contacto .contenido .datos h3 {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: var(--blanco);
  line-height: 1.2em;
  font-weight: 600;
}

.card-contacto .contenido .datos h3 img {
  width: 40px;
  height: 40px;
}

/* Estilos para mapa */
section.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para fomrulacio de contacto */
.formulario {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 400px;
  margin: 0 auto 4rem;
  grid-area: formulario;
  margin: 0 auto 2rem;
}

.formulario h2 {
  margin: 0;
  color: #333;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 15px;
}

.input-container label {
  font-weight: bold;
}

.input-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input-container input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.formulario input.btn-enviar {
  background-color: var(--azul);
  color: var(--blanco);
  border: none;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: .5rem;
  cursor: pointer;
}

.formulario button:hover {
  background-color: var(--azul);
  color: var(--blanco);
}

/* Media query para versiones móviles */
@media (max-width: 768px) {

  section p {
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .main-acercade {
    height: 100%;
    width: 50ch;
    display: grid;
    place-content: center;
    padding: 1rem;
    margin: 0 auto;
  }
  .main-acercade h1 {
    margin-bottom: 1rem;
  }
  
  main.contenedor-contacto {
    height: 100%;
    margin-top: 4rem;
    min-height: 100vh;
    transform: translateX(0);
    grid-template-columns: 1fr;
    /* Una sola columna */
    grid-template-areas:
      "card"
      "mapa"
      "formulario";
    row-gap: 1rem;
    z-index: 2;
  }

  .card-contacto {
    height: 350px;
  }

  .card-contacto .contenido .detalles {
    transform: translateY(0);
  }
}

@media screen and (max-width: 375px) {
  body {
    min-width: 100%;
  }

  .contenedor-contacto {
    height: 100vh;
    min-width: 100%;
  }
}

[data-animation="fade"] {
  opacity: 0;
  transform: translate(100%);
  transition: .6s ease-in .3s;

  --opacity: 1;
  --transform: translate(0);
}

[data-animation="show"] {
  opacity: 0;
  transform: scale(0);
  transition: .6s ease-in .3s;

  --opacity: 1;
  --transform: scale(1);
}

[data-animation="up"] {
  opacity: 0;
  transform: translateY(100%);
  transition: .6s ease-in .3s;

  --opacity: 1;
  --transform: translateY(0);
}

.unset {
  opacity: var(--opacity);
  transform: var(--transform);
}